.alert .btn {
    display: none;
}
.hiddenDivs .expandTitle:hover .tooltiptext {
	display: none !important;
}
.alert .saveAsPDF {
    display: block;
}
.card .closeCardsBtn, .card .hiddenDivs .closeSeparatedBtn {
    display: none !important;
}